<link rel="stylesheet" href="../Css.css">


<!-- header -->

<!-- header -->

<!-- CHitietsanpham -->
<script>
    document.getElementById('')
</script>
<div class="container mb-5 mt-5 ">
    <div class="row" ng-repeat="i in arr">
        <div class="col-12 col-md-6 col-lg-6">
            <img src="../Anh/{{i.img}}" width="100%" alt="">
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="product-content">
                <h3 class="product-title">{{i.name}}</h3>
                <h5>Id:{{i.id}}</h5>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <p>Bạn là người thích sự lịch lãm, sang trọng khi đi làm. Nhưng bạn lại muốn thể hiện được sự trẻ trung,
                    năng động khi đi chơi với bạn bè. Frank chính là giải pháp cho bạn. Với những combo được Frank chọn
                    lọc dưới đây, chắc chắn bộ trang phục của bạn sẽ được nâng tầm. Những món phụ kiện sẽ giúp bạn biến
                    tấu phù hợp cho mọi sự kiện bạn tham gia</p>
            </div>
            <div class="product-price">
                <p class="new-price text-danger" style="font-size: 25px;font-weight: 600;">{{i.price|vndFilter}}</p>
            </div>
            <div class="form-cart d-flex">
                <a href="#!Thanhtoan" ng-click="add(i)" type="button" class="btn btn-primary mr-2 ">
                    Mua ngay <i class="fa fa-shopping-cart"></i>
                </a>
                <button type="number" ng-click="add(i)" class="btn btn-danger mr-2">Thêm vào giỏ
                    hàng</button>
            </div>
            <!-- collaspe -->
          
            <!-- collaspe -->

        </div>
    </div>
</div>
<!-- dangiasanpham -->
<div class="container mb-5">
    <div class="row">
        <div class="col-12 fl-left">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#nav-home"
                        role="tab" aria-controls="nav-home" aria-selected="true">Đánh Giá Sản Phẩm</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile"
                        role="tab" aria-controls="nav-profile" aria-selected="false">Mô Tả</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <!--  -->
                                <h5 class="mt-4">Đánh giá của khách hàng</h5>
                                <div class="user-review">
                                    <div class="row mt-3">
                                        <div class="col-2">
                                            <img src="../Anh/avatar-facebook-doc-1.jpg" alt="">
                                        </div>
                                        <div class="col-10">
                                            <p class="text-primary m-0  mb-1" style="font-weight:500;">Nguyễn Công
                                                Xuân Hùng</p>
                                            <p class="m-0  mb-1">Giày đẹp nhưng không có tiền mua 💚💛🧡</p>
                                            <p> <a class="review mr-4" href="">Thích</a> <a class="review" href="">Phản
                                                    Hồi</a> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-review">
                                    <div class="row mt-3">

                                        <div class="col-2">
                                            <img src="../Anh/anh-avatar-dep-ngau-hinh-dai-dien.jpg" alt="">
                                        </div>
                                        <div class="col-10">
                                            <p class="text-primary m-0  mb-1" style="font-weight:500;">Nguyễn Công
                                                Xuân Hùng</p>
                                            <p class="m-0  mb-1">Giày đẹp nhưng không có tiền mua 😍😍😍</p>
                                            <p> <a class="review mr-4" href="">Thích</a> <a class="review" href="">Phản
                                                    Hồi</a> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-review">
                                    <div class="row mt-3">

                                        <div class="col-2">
                                            <img src="../Anh/Anh-gai-dep-facebook-lam-anh-dai-dien (17).jpg" alt="">
                                        </div>
                                        <div class="col-10">
                                            <p class="text-primary m-0 mb-1" style="font-weight:500;">Nguyễn Công
                                                Xuân Hùng</p>
                                            <p class="m-0 mb-1">Giày đẹp nhưng không có tiền mua 😁😁😀</p>
                                            <p> <a class="review mr-4" href="">Thích</a> <a class="review" href="">Phản
                                                    Hồi</a> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-review">
                                    <div class="row mt-3">

                                        <div class="col-2">
                                            <img src="../Anh/anh-gai-xinh-deo-kinh-toc-ngan-2k4-3.jpg" alt="">
                                        </div>
                                        <div class="col-10">
                                            <p class="text-primary m-0  mb-1" style="font-weight:500;">Nguyễn Công
                                                Xuân Hùng</p>
                                            <p class="m-0  mb-1">Giày đẹp nhưng không có tiền mua 🧡💙💜💜💚</p>
                                            <p> <a class="review mr-4" href="">Thích</a> <a class="review" href="">Phản
                                                    Hồi</a> </p>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->
                            </div>
                            <div class="col-6 mt-4">
                                <!--  -->
                                <h4>Thêm Đánh Giá</h4>
                                <form class="form">
                                    <div class="form-row">
                                        <div class="col-12">
                                            <p>Đánh Giá</p>
                                            <div class="rate">
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <p class="mt-5 mb-0">Thông Tin Của Bạn</p>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputEmail4"></label>
                                                    <input type="email" class="form-control" id="inputEmail4"
                                                        placeholder="Họ Tên">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputPassword4"></label>
                                                    <input type="password" class="form-control" id="inputPassword4"
                                                        placeholder="Email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress"></label>

                                        <textarea class="w-100" name="" id="" cols="30" rows="10"
                                            placeholder="Đánh Giá..."></textarea>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-danger">Gửi đi</button>
                                    </div>
                                </form>
                                <!--  -->
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <h5 class="ml-2 mt-3">Thông Tin Sản Phẩm</h5>
                    <table class="w-100 mt-2">

                        <tr class="w-100">
                            <td class="p-2" style="width: 50%;">
                                Thương hiệu
                            </td>
                            <td class="p-2" style="width: 50%;">
                                Converse
                            </td>
                        </tr>
                        <tr class="w-100">
                            <td class="p-2" style="width: 50%;">
                                Xuất xứ thương hiệu
                            </td>
                            <td class="p-2" style="width: 50%;">
                                Mỹ
                            </td>
                        </tr>
                        <tr class="w-100">
                            <td class="p-2" style="width: 50%;">
                                Sản xuất tại
                            </td>
                            <td class="p-2" style="width: 50%;">
                                Việt Nam
                            </td>
                        </tr>
                        <tr class="w-100">
                            <td class="p-2" style="width: 50%;">
                                SKU
                            </td>
                            <td class="p-2" style="width: 50%;">
                                Vải Canvas
                            </td>
                        </tr>
                        <tr class="w-100">
                            <td class="p-2" style="width: 50%;">
                                Hướng dẫn bảo quản
                            </td>
                            <td class="p-2" style="width: 50%;">
                                Tránh mang sản phẩm khi trời mưa hoặc thời tiết xấu để chúng không bị ướt dẫn đến bong
                                tróc.<br>
                                Cất giữ sản phẩm ở nơi thoáng mát để giữ gìn chất lượng của sản phẩm ở mức tốt nhất.<br>
                                Lau chùi sản phẩm thường xuyên để tránh bụi.
                            </td>
                        </tr>
                        <tr class="w-100">
                            <td class="p-2" style="width: 50%;">
                                Chế độ bảo hành
                            </td>
                            <td class="p-2" style="width: 50%;">
                                Bảo hành chính hãng 1 tháng theo phiếu bảo hành
                            </td>
                        </tr>
                        <tr class="w-100">
                            <td class="p-2" style="width: 50%;">
                                Quy cách đóng gói
                            </td>
                            <td class="p-2" style="width: 50%;">
                                Giày<br>
                                Hộp giày<br>
                                Túi đựng Converse<br>
                                Phiếu bảo hành chính hãng<br>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- dangiasanpham -->


